.header {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 38px;
    vertical-align: middle;
}

.header a {
    display: flex;
    align-items: center;

}

.titulo {
    padding-left: 30px;
}

.material-icons {
    padding-right: 5px;
    vertical-align: middle;
}

.menubtn {
    background-color: transparent;
    border: none;
    color: white;
}

.logo:hover {
    cursor: pointer;
}