
<mat-card class="homecard">
    <div class="titleplano">Escolha o seu plano</div>
    <mat-card class="card-black">
      <mat-card-title>
        <p>PLANO BLACK</p>
      </mat-card-title>
      <mat-card-subtitle>
        <p id="subtitle1">a partir de</p>
        <p id="subtitle2">R$119,90</p>
      </mat-card-subtitle>
      <mat-card-content>
        <ul class="lista-black">
          <li>
            <p>Treine em qualquer academia</p>
          </li>
          <li>
            <p>Acesso total a academia e aulas coletivas</p>
          </li>
          <li>
            <p>Aulas de ginástica</p>
          </li>
          <li>
            <p>Área de musculação e aeróbicos</p>
          </li>
          <li>
            <p>Vídeos para treinar em casa ou na academia</p>
          </li>
          <li>
            <p>Taxa de cancelamento</p>
          </li>
          <li>
            <p>Horário livre</p>
          </li>
          <li>
            <p>Cadeira de massagem</p>
          </li>
          <li>
            <p>Leve 5 convidados para treinar com você</p>
          </li>
          <li>
            <p>Presenteie alguém com 30 dias grátis</p>
          </li>
      </ul>
      </mat-card-content>
      <button class="botao-planos" mat-flat-button color="primary" routerLink="/planos">Cadastrar</button>
    </mat-card>
    <mat-card class="card-smart">
      <mat-card-title>
        <p>PLANO SMART</p>
      </mat-card-title>
      <mat-card-subtitle>
        <p id="subtitle1">a partir de</p>
        <p id="subtitle2">R$99,90</p>
      </mat-card-subtitle>
      <mat-card-content>
        <ul class="lista-smart">
          <li>
            <p>Escolha uma entre mais de mil academias</p>
          </li>
          <li>
            <p>Acesso total a academia e aulas coletivas</p>
          </li>
          <li>
            <p>Aulas de ginástica</p>
          </li>
          <li>
            <p>Área de musculação e aeróbicos</p>
          </li>
          <li>
            <p>Vídeos para treinar em casa ou na academia</p>
          </li>
          <li>
            <p>Sem taxa de cancelamento</p>
          </li>
          <li>
            <p>Horário livre</p>
          </li>
          <li>
            <p>Cadeira de massagem</p>
          </li>
          <li>
            <p>Leve 5 convidados para treinar com você</p>
          </li>
          <li>
            <p>Presenteie alguém com 30 dias grátis</p>
          </li>
      </ul>
      </mat-card-content>
      <button class="botao-planos" mat-flat-button color="primary" routerLink="/planos">Cadastrar</button>
    </mat-card>
</mat-card>
<mat-tab-group mat-align-tabs="start" class="hometable">
  <mat-tab id="testeid" label="PLANO BLACK">
    <div class="example-small-box mat-elevation-z4">
      PLANO BLACK
    </div>
    <div class="pricebox mat-elevation-z4">
      R$119,90
    </div>
    <div class="listbox mat-elevation-z4">
      <ul>
        <li>Treine em qualquer academia</li>
        <li>Acesso total a academia e aulas coletivas</li>
        <li>Aulas de ginástica</li>
        <li>Área de musculação e aeróbicos</li>
        <li>Vídeos para treinar em casa ou na academia</li>
        <li>Taxa de cancelamento</li>
        <li>Horário livre</li>
        <li>Cadeira de massagem</li>
        <li>Leve 5 convidados para treinar com você</li>
        <li>Presenteie alguém com 30 dias grátis</li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="PLANO SMART">
    <div class="example-small-box mat-elevation-z4">
      PLANO SMART
    </div>
    <div class="pricebox mat-elevation-z4">
      R$99,90
    </div>
    <div class="listbox mat-elevation-z4">
      <ul>
        <li>Treine em qualquer academia</li>
        <li>Acesso total a academia e aulas coletivas</li>
        <li>Aulas de ginástica</li>
        <li>Área de musculação e aeróbicos</li>
        <li>Vídeos para treinar em casa ou na academia</li>
        <li>Taxa de cancelamento</li>
        <li>Horário livre</li>
        <li>Cadeira de massagem</li>
        <li>Leve 5 convidados para treinar com você</li>
        <li>Presenteie alguém com 30 dias grátis</li>
      </ul>
    </div>
  </mat-tab>
</mat-tab-group>