<mat-card class="homecard">
  <mat-card-title class="title-1">
    <p>BJ <strong class="cor">GYM</strong></p>
  </mat-card-title>
  <mat-card-subtitle>
    <p>Há mais de 30 anos sendo a rede de academia mais completa do país,</p>
    <p>reunindo em um único ambiente as melhores opções para cada fase da vida.</p>
  </mat-card-subtitle>
  <mat-card-title class="title-2">
    <p>Experiência <br><strong class="cor">BJ GYM</strong></p>
  </mat-card-title>

  <mat-card class="card-fotos">
    <mat-card class="img1">
      <img mat-card-image src="assets/img/areas-musculacao2.png" alt="Áreas de musculação e cárdio">
      <mat-card-title>Áreas de musculação e cárdio</mat-card-title>
    </mat-card>
    <mat-card class="img2" id="card2">
      <img mat-card-image src="assets/img/salas-exclusivas2.png" alt="Salas exclusivas de aulas coletivas">
      <mat-card-title>Salas exclusivas de aulas coletivas</mat-card-title>
    </mat-card>
    <mat-card class="img3">
      <img mat-card-image src="assets/img/equipamentos-alto-padrao.png" alt="Equipamentos de alto padrão">
      <mat-card-title>Equipamentos de alto padrão</mat-card-title>
    </mat-card>
  </mat-card>

  <button class="botao-planos" mat-flat-button color="primary" routerLink="/planos">Começas agora</button>
</mat-card>